nav.navbar, nav div, .header-nav-links{
    z-index:9999;
}
.header-nav-mobile{
    display: none;
}
@media only screen and (max-width: 1023px){
    .header-nav-links{
        display: none;
    }
    .header-nav-mobile{
        display: block;
    }
}