.is-active{
    text-decoration:underline;
}

@media only screen and (max-width: 1023px){
    ul{
        display:block;
    }
    ul li{
        display:block;
    }
    ul li a{
        display:block;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left:40px;
    }
}