<ul class="flex items-center lg:space-x-8">
    <li>
        <a routerLink="/home" routerLinkActive="is-active" aria-label="Our product" title="Our product" class="font-medium tracking-wide text-gray-300 transition-colors duration-200 hover:text-deep-purple-accent-400">
            Home
        </a>
    </li>
    <li>
        <a routerLink="/places" routerLinkActive="is-active" aria-label="Our product" title="Our product" class="font-medium tracking-wide text-gray-300 transition-colors duration-200 hover:text-deep-purple-accent-400">
            Places
        </a>
    </li>
    <li>
        <a routerLink="/dev" routerLinkActive="is-active" aria-label="Product pricing" title="Product pricing" class="font-medium tracking-wide text-gray-300 transition-colors duration-200 hover:text-deep-purple-accent-400">
            Developers        
        </a>
    </li>
</ul>
